
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #09395b;
            color: burlywood;
            text-align: center;
        }
        
        header img {
            width: 150px;
            height: 150px;
        } 
        nav {
            padding-right: 5%;
        }
        nav ul {
            list-style: none;
            padding: 0;
        }
        nav ul li {
            display: inline;
            margin: 0 15px;
        }
        nav ul li a {
            color: white;
            text-decoration: none;
            font-family: Kaushan Script, Static;
        }

        nav ul li a:hover{
            color: #aa8282;
        }

        section {
            padding: 50px;
            text-align: center;
        
        }

        #home {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .container {
            position: relative;
            width: 100%;
            height: 100vh;
            overflow: hidden;
        }
        .background-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .overlay-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 3rem;
            font-family: cinzel, variable;
            font-weight: bold;
            text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
            text-align: center;
        }
        .reach-us-button {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            padding: 10px 20px;
            font-size: 1.2rem;
            color: white;
            background-color: #007BFF;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        }
        .reach-us-button:hover {
            background-color: #0056b3;
        }


        #about {
            background-color: rgb(121, 153, 169);
        }
        #info-row {
            display: flex;
            justify-content: space-around;
            background: #aa8282;
            padding: 30px;
        }
        #info-row img{
            max-width: 300px;
            max-height: 300px;
        }
        .info-box video{
            max-width: 300px;
            max-height: 300px;
        }
        .info-box {
            flex: 1;
            margin: 10px;
            padding: 20px;
            background: white;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
    
        form{
            display: flex;
            flex-direction: column;
            gap:20px;
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10 black;
            width: 50%;
            
        }
        .gender{
            display: flex;
            flex-direction: row;
        
        }
        .gender input[type="radio"]{
            width: 10%;
            height: 1rem;
        
        }
        button{
            margin-top:10px;
            padding: 10px 15px;
            background-color: rgb(9, 61, 9);
            color: aqua;
            border-radius: 8px;
            cursor: pointer;
        }
        button:hover{
            background-color: rgb(144, 122, 36);
        }
        .input{
            display: block;
        }
        .label{
            display: flex;
            /* flex-direction: column; */
        }
        